
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/
 
body {
	margin-top:0px;
	background-color: #d9d9d9; /*dark grey #090708*/
	color: #d9d9d9; /*light grey*/
}

a {
	color:  #e67300; /*darker orange*/
}

h1 {
	font-size: 55px;
	text-align: center;
	margin: 0px;
	color: #d9d9d9;  /*light grey*/
	text-shadow: 3px 3px 1px black;
}

div {
	background-color: #090708;
}

img {
	margin-top:20px;
}

.links {
	text-align: center;
	font-size: 24px;
	margin: 0 20px 20px 20px;
	padding: 20px;
	display: block;
}

/* Defining styling for a specific element type - each question */
.question {
	background-color: black;
	color: white;
	margin: 20px;
	padding: 20px;
}

/* Defining styling for a specific element type - large block buttons */
.block {
	display: block;
	width: 20%;
	border: none;
	background-color: #ffff66;  /* yellow */
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
}
#myform {
	background-color: #090708;
	margin-left:0px;
}
/* Defining styling for a specific element with an id */
#signature {
	text-align: right;
	color: red;
	font-style: italic;
	font-size: 75%;
}
