
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */

.jumbotron-fluid {
	background-color:#006600;
}

.card-header {
	background-color:#006600;
}


.nav-link {
	color:white;
}

.navbar-brand {
	color:white;
}

.error {
  background-color: yellow;
  color : red;
}


.showInput {
  background-color: lightblue;
}